@import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");


@mixin vertical-align($position) {
    position: $position;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin all-transition($time) {
    transition: all $time;
    -webkit-transition: all $time;
}


body {
    font-family: "Karla", sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

#root {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu {

    font-weight: 100;
    background: #efefef;
    width: 8%;
    height: 100%;
    padding-right: 50px;
    position: fixed;
    z-index: 50;
    -webkit-box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
    left: -130px;
    @include all-transition(0.3s);
    color: #222;

    &:hover,
    &:focus {
        transform: translate3d(130px, 0, 0);
        animation-timing-function: 1s ease-in;
    }

    .title {
        top: 48% !important;
        @include vertical-align(absolute);
        transform: rotate(-270deg);
        left: 75%;
        font-weight: 800;
        font-size: 1.5rem;
        color: #dc3545
    }

    .nav {
        @include vertical-align(absolute);
        font-weight: 100;

        li {
            padding-bottom: 30px;
            list-style-type: none;

            a {
                display: block;
                text-decoration: none;
                color: inherit;
                @include all-transition(0.3s);

                &:hover {
                    color: #aaa;
                }
            }
        }


    }


}

.intro {
    position: absolute;
    top: 30%;
    margin: 0 auto;
    left: 0;
    right: 0;
    font-size: 45px;
    text-align: center;
    font-style: italic;

}


img {
    user-select: none;
    -webkit-user-drag: none;
}

.scrolling {
    box-shadow: 0 4px 10px rgba(0, 0, 0, .15);
    width: 100% !important;
    z-index: 900 !important;

    & * {
        margin: 0 1.5rem;
    }

}

.select {
    position: relative;
    width: 25%;
    margin: 2rem 5rem;
}

.select-text {
    position: relative;
    font-family: inherit;
    background-color: transparent;
    width: 100%;
    padding: 10px 10px 10px 10px;
    font-size: 0.8rem;
    border-radius: 4px;
    border: 2px solid rgba(0, 0, 0, 0.12);
}

/* Remove focus */
.select-text:focus {
    outline: none;
    border: 2px solid #dc3545;
}

/* Use custom arrow */
.select .select-text {
    appearance: none;
    -webkit-appearance: none;
    color: gray;
}

.select:after {
    position: absolute;
    top: 50%;
    right: 5px;
    /* Styling the down arrow */
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgba(0, 0, 0, 0.12);

    pointer-events: none;
}

/* LABEL ======================================= */
.select-label {
    color: rgba(0, 0, 0, 0.30);
    background: white;
    font-size: 1rem;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    padding: 0 5px;
    left: 2%;
    top: 25%;
    transition: 0.2s ease all;
}


/* active state */
.select-text:focus~.select-label,
.select-text:valid~.select-label {
    color: #dc3545;
    top: -20%;

    transition: 0.2s ease all;
    font-size: 14px;
}

.select-text:valid:focus~.select-label {
    color: #dc3545;
}