@import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");

body {
    font-family: "Karla", sans-serif;
    font-size: 1em;
}
#root {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img {
    user-select: none;
    -webkit-user-drag: none;
}
